{% extends 'base.html.twig' %}

{% block title %}School{% endblock %}

{% block body %}
    <h1>School Details</h1>

    <ul class="table list-unstyled">
        <li>
            <h3>Id: {{ school.id }}</h3>
        </li>
        <li>
            <h3>Name: {{ school.name }}</h3>
        </li>
    </ul>

    <a href="{{ path('app_school_index') }}">Back to list</a>
    <a href="{{ path('app_school_edit', {'id': school.id}) }}">Edit</a>

    <h1>Classrooms</h1>
    <ul class="list-unstyled list-group">
        {% for classroom in school.classrooms %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h3>{{ classroom.id }}</h3>
                <h3>{{ classroom.name }}</h3>
                <a href="{{ path('app_classroom_edit', {'id': classroom.id}) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>

    {{ include('school/_delete_form.html.twig') }}
{% endblock %}

{# DON'T DO THIS: this simple check can't differentiate between a form having
    a parent form view and a form defining a nested form field called 'parent' #}

 {% if form.parent is null %}
     {{ form_errors(form) }}
 {% endif %}

{# DO THIS: this check is always reliable, even if the form defines a field called 'parent' #}

 {% if form is rootform %}
     {{ form_errors(form) }}
 {% endif %}