{% extends 'base.html.twig' %}

{% block title %}Modifier l'étudiant{% endblock %}

{% block body %}
    <h1>Modifier l'étudiant</h1>

    {{ include('student/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_student_index') }}">Retour à la liste</a>

    {{ include('student/_delete_form.html.twig') }}
{% endblock %}

{# DON'T DO THIS: this simple check can't differentiate between a form having
    a parent form view and a form defining a nested form field called 'parent' #}

 {% if form.parent is null %}
     {{ form_errors(form) }}
 {% endif %}

{# DO THIS: this check is always reliable, even if the form defines a field called 'parent' #}

 {% if form is rootform %}
     {{ form_errors(form) }}
 {% endif %}